<?xml version="1.0" encoding="UTF-8"?>

<!-- see http://logback.qos.ch/manual/index.html -->
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%-5level] %logger{40}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- default output method -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- level configuration -->
    <logger name="com.hyd.salto" level="DEBUG"/>
</configuration>